<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Visual_PowerShell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Visual_PowerShell.Properties.Settings>
            <setting name="CommandRepositories" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositoryPackages" serializeAs="String">
                <value>https://gist.github.com/farukcan/487b5577aa672a0b3ad183f87f74a2c9</value>
            </setting>
            <setting name="Workspace" serializeAs="String">
                <value />
            </setting>
            <setting name="RepositoryIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackToCommands" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultAuthor" serializeAs="String">
                <value>Your name</value>
            </setting>
            <setting name="DefaultWebsite" serializeAs="String">
                <value>https://github.com/farukcan/visualps</value>
            </setting>
            <setting name="TerminalBackgroundColor" serializeAs="String">
                <value>MenuHighlight</value>
            </setting>
            <setting name="TerminalTextColor" serializeAs="String">
                <value>White</value>
            </setting>
        </Visual_PowerShell.Properties.Settings>
    </userSettings>
</configuration>